[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
defusedxml = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
kivy = "*"
python-ffmpeg = "*"

[dev-packages]

[requires]
python_version = "3.11.6"
